{
  "swagger": "2.0",
  "info": {
    "title": "ECL Microsoft Graph Meetings",
    "description": "Microsoft Graph custom connector for resolving scheduled Teams meetings and retrieving VTT transcripts under Application / Service Principal permissions.",
    "version": "2.0.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "text/vtt"
  ],
  "paths": {
    "/users/{userId}/onlineMeetings": {
      "get": {
        "summary": "Resolve Meeting by Organizer and Filter",
        "description": "Searches for an online meeting created by a specific organizer using an OData filter (such as JoinWebUrl).",
        "operationId": "ResolveMeetingByUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure AD User Principal Name (email) or Object ID of the meeting organizer."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "OData filter query, e.g., JoinWebUrl eq '{joinUrl}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching online meetings",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "subject": { "type": "string" },
                      "joinWebUrl": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/onlineMeetings/{meetingId}/transcripts": {
      "get": {
        "summary": "List Transcripts by Organizer",
        "description": "Retrieves the collection of transcripts associated with the specified organizer's online meeting.",
        "operationId": "ListTranscriptsByUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure AD User Principal Name (email) or Object ID of the meeting organizer."
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Microsoft Graph online meeting ID."
          }
        ],
        "responses": {
          "200": {
            "description": "List of meeting transcripts",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "createdDateTime": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/onlineMeetings/{meetingId}/transcripts/{transcriptId}/content": {
      "get": {
        "summary": "Get Transcript Content by Organizer",
        "description": "Retrieves the transcript content stream formatted as WebVTT for a specific organizer's online meeting.",
        "operationId": "GetTranscriptContentByUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure AD User Principal Name (email) or Object ID of the meeting organizer."
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Microsoft Graph online meeting ID."
          },
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The transcript ID."
          },
          {
            "name": "$format",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "text/vtt",
            "description": "Transcript content format (e.g. text/vtt)."
          }
        ],
        "responses": {
          "200": {
            "description": "WebVTT formatted transcript content string",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
      "scopes": {
        "https://graph.microsoft.com/.default": "Microsoft Graph Application Default Scope"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "https://graph.microsoft.com/.default"
      ]
    }
  ]
}
